<<<<<<< HEAD
.back-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

body {
    font-family: 'Segoe UI', 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f7fa;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
=======
body {
    font-family: sans-serif;
    background: #eee;
    margin: 0;
    padding: 0;
}

.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #fff;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
}

.welcome-text {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background: #007BFF;
    color: white;
    text-decoration: none;
}
>>>>>>> 0ad7183a403931c286760b83964bb7aee6a31ac0
