
.back-video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    color: white;
    text-align: center;
    padding: 0 1rem; 
    background-color: black; 
}

.center-box {
    background: rgba(0, 0, 0, 0.4); 
    padding: 2rem;
    border-radius: 12px;
    max-width: 500px;
    width: 100%;
}

.btn {
    padding: 0.6rem 1.2rem;
    margin:5px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #ffffffcc;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Playfair Display', serif;
}

button:hover {

    background-color: #ffffff;
}

p {
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

h1{
    letter-spacing: 3px;
}

.top-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    letter-spacing: 0.1em;
    font-family: 'Playfair Display', serif;
    z-index: 9999; 
}


